.gallery {
  padding: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 7vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

#gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

#gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

#gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

#gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}




.gallery__item {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
      position: relative;
}


.gallery__item:hover:after {
    opacity:1;
}
.gallery__item img{
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    transition: all 1s ease;
  width: 100%;
}
.gallery__item:hover img{
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    transform:scale(1.25);
    background: rgba(0,0,0,0.3);
    max-height: 100%;
}
.gallery__item:after {
    background: rgba(0,0,0,.5);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    transition: all 1s ease;
}

.hover {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    opacity: 0;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    transition: all 1s ease;
}
.hover h2,
.hover p {
  color:#fff;
  opacity: 0;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  transition: all 1s ease;
}

.gallery__item:hover:after,
.gallery__item:hover .hover, 
.gallery__item:hover .hover h2, 
.gallery__item:hover .hover p {
    opacity: 1;
}

#about-us-section{
  background-color: #003580;
  color: #fff;
  text-align: -webkit-center;
  padding: 20px;
}

.custom-icons{
  width: 15px;
}

.icon-text{
    width: auto;
    padding: 5px 0px 0px 10px;
}

.icon-text-div{
  display: flex;
  justify-content: center;
  padding: 5px;
}

#address-phone-div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 20em;
}

@media only screen and (max-width: 768px) {
  #gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

#gallery__item--2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

#gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
}

#gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 13;
}

.gallery {
  grid-template-rows: repeat(12, 7vw);
}

.hover h2,
.hover p {
  font-size: 8px;
}


}